<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - SriSriPort</title>
    <link rel="shortcut icon" href="images/flogo.png" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="css/newnav.css">
    <link rel="stylesheet" type="text/css" href="css/blog.css">
    {{!--
    <link rel="stylesheet" media="screen and (max-width: 900px)" href="css/phone.css"> --}}
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <script src="https://kit.fontawesome.com/b7063610fd.js" crossorigin="anonymous"></script>
    <title>Services we deliver at srisriport</title>
</head>

<body>

    {{>navbar}}
    {{!-- <h1 style="margin-top: 50px;">Page under developement by Team</h1> --}}
<!--  Design -->


   <br/>
   <br/>
   <br/>
   <br/>
    <section id="web">
        <div class="container centerTxt">
            {{!-- <h2>SRISRIPORT</h2> --}}
            <hr class="myHr"/>
            <p>SRISRIPORT is a next generation Export and Import Marketplace, where the industries do EXIM with ease through our services. We strongly believe in the potential of every business that with proper knowledge, timely support and strong network, anyone can achieve their fortune worldwide. Being a comprehensive service platform for foreign trade, SRISRIPORT is committed to tapping business opportunities for Indian suppliers and overseas buyers, and providing one-stop services for promoting the international trade between the two sides. SRISRIPORT is looked upon a as preferred organisation for companies, Manufacturers and people who are looking for international business expansion and Growth.</p>
            <br/>
            <div class="row myWebRow">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 webOne">
                    <h6>10+ years of experience</h6>
                </div>

                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                    <h6>20+ Successful websites</h6>
                </div>

                <div class="col-4 col-sm-4 col-md-4 col-lg-4 webThree">
                    <a href=""><h6>Let's Create your website today !</h6></a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Design -->

 <!--  Design -->
<br/>
   <br/>
   <br/>
   <br/>
    <section id="web">
        <div class="container centerTxt">
            {{!-- <h2>SRISRIPORT</h2> --}}
            <hr class="myHr"/>
            <p>SRISRIPORT is a next generation Export and Import Marketplace, where the industries do EXIM with ease through our services. We strongly believe in the potential of every business that with proper knowledge, timely support and strong network, anyone can achieve their fortune worldwide. Being a comprehensive service platform for foreign trade, SRISRIPORT is committed to tapping business opportunities for Indian suppliers and overseas buyers, and providing one-stop services for promoting the international trade between the two sides. SRISRIPORT is looked upon a as preferred organisation for companies, Manufacturers and people who are looking for international business expansion and Growth.</p>
            <br/>
            <div class="row myWebRow">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 webOne">
                    <h6>10+ years of experience</h6>
                </div>

                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                    <h6>20+ Successful websites</h6>
                </div>

                <div class="col-4 col-sm-4 col-md-4 col-lg-4 webThree">
                    <a href=""><h6>Let's Create your website today !</h6></a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Design -->

<br/><br/><br/>
 <!-- Quote -->
  

 <!-- End Quote -->
 <br/><br/><br/>




 <!--  Development -->
    <section id="software">
        <div class="container centerTxt">
            <h2> IMPORT/EXPORT </h2>
            <hr class="myHr"/>
            <p>SRISRIPORT is a next generation Export and Import Marketplace, where the industries do EXIM with ease through our services. We strongly believe in the potential of every business that with proper knowledge, timely support and strong network, anyone can achieve their fortune worldwide. Being a comprehensive service platform for foreign trade, SRISRIPORT is committed to tapping business opportunities for Indian suppliers and overseas buyers, and providing one-stop services for promoting the international trade between the two sides. SRISRIPORT is looked upon a as preferred organisation for companies, Manufacturers and people who are looking for international business expansion and Growth.</p>
            <br/><br/><br/><br/>
            <div class="row mySoftRow">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                    <h6>10+ years of experience</h6>
                </div>

                <div class="col-4 col-sm-4 col-md-4 col-lg-4 softTwo">
                    <a href=""><h6>Let's Create your own import / export journey today !</h6></a>
                </div>

                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                        <h6>20+ Successful stories</h6>
                </div>
            </div>
        </div>
    </section>
    <!-- End  Development -->

     <!--  Marketing -->
    <section id="digital">
        <div class="container centerTxt">
                <h2>  EXPORT/IMPORT</h2>
                <hr class="myHr"/>
                <p>For your business or for yourself a complete software solution is essential. xLorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam gravida tempor cursus. Maecenas porttitor fringilla dapibus. Pellentesque a turpis eu elit cursus lobortis. Cras tincidunt faucibus pulvinar. Suspendisse eget libero suscipit, finibus lorem ut, volutpat mi. Vivamus quis dui id nunc imperdiet ultricies. Donec venenatis lectus eget orci tempus dignissim. Nullam lobortis sapien sed ligula lobortis, non laoreet</p>
                <br/>
                <div class="row mySoftRow">
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 webOne">
                            <h6>10+ years of experience</h6>
                        </div>
        
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                            <h6>20+ successful stories</h6>
                        </div>
        
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 webThree">
                            <a href=""><h6>Let's Create your website today !</h6></a>
                        </div>
                </div>
        </div>
    </section>
    <!-- End  Marketing -->



<!--  Marketing -->
    <section id="digital">
        <div class="container centerTxt">
                <h2>  EXPORT/IMPORT</h2>
                <hr class="myHr"/>
                <p>For your business or for yourself a complete software solution is essential. xLorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam gravida tempor cursus. Maecenas porttitor fringilla dapibus. Pellentesque a turpis eu elit cursus lobortis. Cras tincidunt faucibus pulvinar. Suspendisse eget libero suscipit, finibus lorem ut, volutpat mi. Vivamus quis dui id nunc imperdiet ultricies. Donec venenatis lectus eget orci tempus dignissim. Nullam lobortis sapien sed ligula lobortis, non laoreet</p>
                <br/>
                <div class="row mySoftRow">
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 webOne">
                            <h6>10+ years of experience</h6>
                        </div>
        
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                            <h6>20+ successful stories</h6>
                        </div>
        
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 webThree">
                            <a href=""><h6>Let's Create your website today !</h6></a>
                        </div>
                </div>
        </div>
    </section>
    <!-- End  Marketing -->

<!-- Portfolio -->
<div class="container">
    <h2>Some success stories..</h2>
<div class="row">
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 borderStyle noRightBorder">
        <div class="project">
            <img class="curvedImg img-fluid" src="images/fb.jpg" width="100%" height="100%" align="center"alt="Image Not Available"/>
        </div>
        <a href="https://facebook.com" target="_blank"><button class="form-control btn btn-info">Visit Website</button></a>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 borderStyle noRightBorder noLeftRadius">
        <div class="project">
            <img class="curvedImg img-fluid" src="images/web02.png" width="100%" height="100%" alt="Image Not Available" />
        </div>
        <a href="https://udemy.com" target="_blank"><button class="form-control btn btn-info">Visit Website</button></a>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 borderStyle noLeftRadius">
        <div class="project">
            <img class="curvedImg img-fluid" src="images/web03.png" width="100%" height="100%" alt="Image Not Available" />
        </div>
        <a href="http://codecity.org" target="_blank"><button class="form-control btn btn-info">Visit Website</button></a>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 borderStyle noRightBorder">
        <div class="project">
            <img class="curvedImg img-fluid" src="images/web04.png" width="100%" height="100%" alt="Image Not Available"/>
        </div>
        <a href="https://google.com" target="_blank"><button class="form-control btn btn-info">Visit Website</button></a>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 borderStyle noRightBorder noLeftRadius">
        <div class="project">
            <img class="curvedImg img-fluid" src="images/web05.png" width="100%" height="100%" alt="Image Not Available" />
        </div>
        <a href="https://waymo.com/" target="_blank"><button class="form-control btn btn-info">Visit Website</button></a>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 borderStyle noLeftRadius">
        <div class="project">
            <img class="curvedImg img-fluid" src="images/web06.png" width="100%" height="100%" alt="Image Not Available" />
        </div>
        <a href="http://cybrart.com" target="_blank"><button class="form-control btn btn-info">Visit Website</button></a>
    </div>
</div>
</div>
<!-- End Portfolio -->


<br/><br/><br/>




    <!-- Testimonials -->
    <div class="container">
        <h2 align="center"> Testimonials </h2>
        <p align="center"> Listen to what our customers say </p>
        <hr class="myHr">
        <br/>
        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 myTestimonial">
                <img src="images/person.png" alt="Image not available" width="200px">
                <h4>Name</h4>
                <h6>position</h6>
                <i><p style="font-size: 14px;">Description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis vehicula odio. Maecenas elementum at tortor id rhoncus. Vivamus ac.</p></i>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 myTestimonial">
                <img src="images/person.png" alt="Image not available" width="200px">
                <h4>Name</h4>
                <h6>position</h6>
                <i><p style="font-size: 14px;">Description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis vehicula odio. Maecenas elementum at tortor id rhoncus. Vivamus ac.</p></i>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 myTestimonial">
                <img src="images/person.png" alt="Image not available" width="200px">
                <h4>Name</h4>
                <h6>position</h6>
                <i><p style="font-size: 14px;">Description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis vehicula odio. Maecenas elementum at tortor id rhoncus. Vivamus ac.</p></i>
               </div>
        </div>
    </div>
    <!-- End Testimonials -->




    <br/>
    <br/>

    {{>foot1}}

</body>

</html>