<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SriSriPort</title>
    <link rel="shortcut icon" href="images/flogo.png" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="css/newnav.css">
    {{!--
    <link rel="stylesheet" type="text/css" href="css/nav.css"> --}}
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/letstalk.css">
    <link rel="stylesheet" media="screen and (max-width: 900px)" href="css/phone.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <script src="https://kit.fontawesome.com/b7063610fd.js" crossorigin="anonymous"></script>
    <script src="/public/js/title.js"></script>
</head>

<body>
    {{!-- {{>pheader}} --}}
    {{>navbar}}
    <section id="home">
        <h4 class="world" id="title">WORLD'S FIRST EXPORT IMPORT MARKETPLACE</h4>

        <a id="regbtn" href="/reglog"><button type="text" class="btn"><span></span>
                <h4 class="blink">JOIN US NOW</h4>

            </button></a>
    </section>
    <div id="what">

        <h1 class="h-primary">About SRISRIPORT</h1>
        <p>SRISRIPORT is a next generation Export and Import Marketplace, where the industries do EXIM with ease through
            our services. We strongly believe in the potential of every business that with proper knowledge, timely
            support and strong network, anyone can achieve their fortune worldwide.
            Being a comprehensive service platform for foreign trade, SRISRIPORT is committed to tapping business
            opportunities for Indian suppliers and overseas buyers, and providing one-stop services for promoting the
            international trade between the two sides.
            SRISRIPORT is looked upon a as preferred organisation for companies, Manufacturers and people who are
            looking for international business expansion and Growth.
        </p>
        <!-- <button type="text" class="btn"> <span></span>Register Now</button> -->
    </div>
    <section id="services-container">
        <h1 class="h-primary center">Services We Provide</h1>
        <div id="services">

            {{!-- <div class="box">

                <img id="imp" src="../images/imp.png" alt="">
                <h2 class="h-secondary center">Import</h2>
                <p class="center">
                    Imports and exports are the components of international trade. If the value of a country's imports
                    exceeds the value of its exports, the country has a negative balance of trade, also known as a trade
                    deficit.
                <p>
            </div> --}}
            <div class="container">
                <div class="card">
                    <div class="imgBx">
                        <img src="images/imp.png" />
                    </div>
                    <div class="contentBx">
                        <h2>Import</h2>
                        <div class="color">
                            <p style="color: white;">
                                Imports and Export are the components of international trade.
                            </p>
                        </div>
                        <a href="/exim">Import Now</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="imgBx">
                        <img src="images/exp.png" />
                    </div>
                    <div class="contentBx">
                        <h2>Export</h2>
                        <div class="color">
                            <p style="color: white;">
                                Imports and Export are the components of international trade.
                            </p>
                        </div>
                        <a href="/exim">Export Now</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="imgBx">
                        <img src="images/mktp.png" />
                    </div>
                    <div class="contentBx">
                        <h2>Marketplace</h2>
                        <div class="color">
                            <p style="color: white;">
                                Marketplace is the interpreter of supply and demand
                            </p>
                        </div>
                        <a href="/product">Explore Now</a>
                    </div>
                </div>
            </div>
            {{!-- <div class="box">

                <img src="../images/export.png" alt="">
                <h2 class="h-secondary center">Export</h2>
                <p class="center">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti, unde.</p>
            </div> --}}
            {{!-- <div class="box">
                <img id="eco" src="../images/ecomm.png" alt="">
                <h2 class="h-secondary center">E-commerce</h2>
                <p class="center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, enim ipsum quas nemo, itaque
                    doloremque laboriosam maiores ex </p>
            </div> --}}
        </div>

    </section>
    <section id="card2-container">
        <h1>Why export and import with SRISRIPORT?</h1>
        <div id="services2">

            <div class="container">
                <div id="vivi1" class="card">
                    <div class="imgBx">
                        <img src="images/money.png" />
                    </div>
                    <div class="contentBx">
                        <h2>Revenue potential</h2>
                        <div class="color">
                            <p style="color: white;">
                                Exports with SRISRIPORT, helping entrepreneurs, manufactures and people around the World
                                to export
                                and import
                            </p>
                        </div>
                        <a href="/exim">Read More</a>
                    </div>
                </div>
            </div>
            <div class="container">
                {{!-- width: 260px; height: 340px; background: #232323; --}}
                <div id="vivi" class="card">
                    <div class="imgBx">
                        <img src="images/241.png" />
                    </div>
                    <div class="contentBx">
                        <h2>Expert Support</h2>
                        <div class="color">
                            <p style="color: white;">
                                Warehousing, compliance, Shipping and payments - SRISRIPORT assists you in every step.
                            </p>
                        </div>
                        <a href="/exim">Read More</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div id="vivi2" class="card">
                    <div class="imgBx">
                        <img src="images/pin.png" />
                    </div>
                    <div class="contentBx">
                        <h2>Growing Network</h2>
                        <div class="color">
                            <p style="color: white;">
                                Join the network of 400+ World Exporter/Importers across various product categories,
                            </p>
                        </div>
                        <a href="/exim">Read More</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div id="vivi3" class="card">
                    <div class="imgBx">
                        <img src="images/community.png" />
                    </div>
                    <div class="contentBx">
                        <h2>Trade Safely</h2>
                        <div class="color">
                            <p style="color: white;">
                                We are designed to facilitate registered members to place, accept, conclude, manage and
                                fulfill orders.
                            </p>
                        </div>
                        <a href="/exim">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        {{!--
        <hr> --}}
    </section>
    <div style="margin-top: 20px;" class="talk">
        <div class="right-side">
            <div class="topic-text">
                <h3>Let's Talk</h3>
            </div>
            <p>If you have any types of quries related to import or export, you can send us a
                message from here. It's our pleasure to help you.</p>
            <form action="/contactus" method="post">
                <div class="input-box">
                    <input type="text" placeholder="Enter your name" name="name">
                </div>
                <div class="input-box">
                    <input type="email" placeholder="Enter your email" name="email">
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Enter your mobile number" name="mobile">
                </div>
                <div class="input-box message-box">
                    <input type="text" placeholder="Write your message" name="query">
                </div>
                <button class="button" type="submit">Send query</button>
            </form>
        </div>
        {{!-- <h1>How to Import and Export with SRISRIPORT?</h1> --}}
    </div>
    {{!-- start --}}
    <h1 id="howh1">How to Import and Export with SRISRIPORT?</h1>
    <div class="row1-container">

        <div class="how box-down cyan">
            <h2>1.Decide where & what to sell</h2>
            <p>Understand the market opportunity for your export business and select the suitable international
                marketplaces where you want to sell</p>
            <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
        </div>

        <div class="how red">
            <h2>2. Register & list your products</h2>
            <p>Register as an srisriport global seller and use srisriport's state-of-the-art logistics to make your
                product listing across marketplaces quick and easy to manage.</p>
            <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
        </div>

        <div class="how box-down blue">
            <h2>3. Deliver your products</h2>
            <p>Use Fulfillment By Srisriport (FBS) services for shipping your products to any part of the world. You can
                also choose other shipping methods.</p>
            <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
        </div>
    </div>
    <div class="row2-container">
        <div class="how orange">
            <h2>4. Get paid & grow your business</h2>
            <p>Get paid to your account on completion of sales. Focus on expanding your export business by utilizing
                srisriport’s international tools and services</p>
            <img src="https://assets.codepen.io/2301174/icon-karma.svg" alt="">
        </div>
    </div>

    {{!-- end --}}

    {{!-- <section id="blogsection">
        <a href="/reglog">
            <h1>How to Import and Export with SRISRIPORT?</h1>
        </a>
        <div id="blog">


            <div class="box3">


                <h2 class="h-secondary center">1. Decide where & what to sell</h2>
                <hr>

                <p class="center">
                    Understand the market opportunity for your export business and select the suitable international
                    marketplaces where you want to sell.
                <p>
            </div>
            <div class="box3">


                <h2 class="h-secondary center">2. Register & list your products</h2>
                <hr>

                <p class="center">
                    Register as an srisriport global seller and use srisriport's state-of-the-art logistics to make your
                    product listing across marketplaces quick and easy to manage.</p>
            </div>
            <div class="box3">

                <h2 class="h-secondary center">3. Deliver your products</h2>
                <hr>

                <p class="center">
                    Use Fulfillment By Srisriport (FBS) services for shipping your products to any part of the world.
                    You can also choose other shipping methods.</p>
            </div>
            <div class="box3">

                <h2 class="h-secondary center">4. Get paid & grow your business</h2>
                <hr>

                <p class="center">
                    Get paid to your account on completion of sales. Focus on expanding your export business by
                    utilizing srisriport’s international tools and services. </p>
            </div>
        </div>
        <hr>
    </section> --}}
    {{>foot1}}

</body>

</html>