<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>SRISRIPORT</title>
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/newnav.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <link rel="stylesheet" type="text/css" href="css/product.css">
    <link rel="stylesheet" media="screen and (max-width:900px)" href="css/phone.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/b7063610fd.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Bootstrap CDN -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!--  Font Awesome CDN -->
    <script src="https://kit.fontawesome.com/23412c6a8d.js"></script>

    <!-- Slick Slider -->
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="css/product.css" />
  </head>
  <body>
    {{!-- <!-- header -->

    <header>
      <div class="container">
        <div class="row">
<!--logo-->
          <div class="logo">
            <img src="assets/logo pre.jpeg " width="125px">
        </div>
<!--logo-->

          <div class="col-md-4 col-sm-12 col-12">
            <div class="btn-group">
              <button
                class="btn border dropdown-toggle my-md-4 my-2 text-white"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                USD
              </button>
              <div class="dropdown-menu">
                <a href="#" class="dropdown-item">ERU - Euro</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-12 text-center">
            <h2 class="my-md-3 site-title text-white">Online Store</h2>
          </div>
          <div class="col-md-4 col-12 text-right">
            <p class="my-md-4 header-links">
              <a href="#" class="px-2">Sign In</a>
              <a href="#" class="px-1">Create an Account</a>
            </p>
          </div>
        </div>
      </div>

      <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#"
                  >HOME <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">FEATURES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">COLLECTION</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">SHOP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">ABOUT US</a>
              </li>
            </ul>
          </div>
          <div class="navbar-nav">
            <li class="nav-item  rounded-circle mx-2 search-icon">
              <i class="fas fa-search p-2"></i>
            </li>
            <li class="nav-item  rounded-circle mx-2 basket-icon">
              <i class="fas fa-shopping-basket p-2"></i>
            </li>
          </div>
        </nav>
      </div>
    </header> --}}

    <!-- /header -->

    <!-- Main Section   -->
{{>navbar}}
    <main>
      <!--- First Slider -->
      {{!-- <h4>EXPORT PRODUCTS</h4> --}}
      <div class="container-fluid p-0">
        <div class="site-slider">
          <div class="slider-one">
            <!-- <div>
              <img src="./assets/item-1.jpg" class="img-fluid" alt="Banner 1" />
            </div> -->
            <!-- <div>
              <img src="./assets/item-2.jpg" class="img-fluid" alt="Banner 2" />
            </div> -->
            <div>
              <img src="images/item-3.jpg" class="img-fluid" alt="Banner 3" />
              <h2>EXPORT PRODUCTS</h2>
            </div>
          </div>
          <div class="slider-btn">
            <span class="prev position-top"
              ><i class="fas fa-chevron-left"></i
            ></span>
            <span class="next position-top right-0"
              ><i class="fas fa-chevron-right"></i
            ></span>
          </div>
        </div>
      </div>
      <!--- /First Slider -->

<!--- First Slider -->
<div class="container-fluid p-0">
  <div class="site-slider">
    <div class="slider-one">
      <!-- <div>
        <img src="./assets/item-1.jpg" class="img-fluid" alt="Banner 1" />
      </div> -->
      <!-- <div>
        <img src="./assets/item-2.jpg" class="img-fluid" alt="Banner 2" />
      </div> -->
      <div>
        <img src="images/item-3.jpg" class="img-fluid" alt="Banner 3" />
      </div>
    </div>
    <div class="slider-btn">
      <span class="prev position-top"
        ><i class="fas fa-chevron-left"></i
      ></span>
      <span class="next position-top right-0"
        ><i class="fas fa-chevron-right"></i
      ></span>
    </div>
  </div>
</div>
<!--- /First Slider -->


      <!-- Second Slider -->

      <div class="container-fluid">
        <div class="site-slider-two px-md-4">
          <div class="row slider-two text-center">
            <div class="col-md-2 product pt-md-5 pt-4">
              <img src="images/id-9-cat-1.jpg" alt="Product 1" />
              <span class="border site-btn btn-span">SOFA & CHAIRS</span>
            </div>
            <div class="col-md-2 product pt-md-5 pt-4">
              <img src="images/id-9-cat-2.jpg" alt="Product 2" />
              <span class="border site-btn btn-span">FURNITURES & DECOR</span>
            </div>
            <div class="col-md-2 product pt-md-5 pt-4">
              <img src="images/id-9-cat-3.jpg" alt="Product 3" />
              <span class="border site-btn btn-span">LAMP & LIGHTING</span>
            </div>
            <div class="col-md-2 product pt-md-5 pt-4">
              <img src="images/id-9-cat-4.jpg" alt="Product 4" />
              <span class="border site-btn btn-span">SOUND & LIFE</span>
            </div>
            <div class="col-md-2 product pt-md-5 pt-4">
              <img src="images/id-9-cat-5.jpg" alt="Product 5" />
              <span class="border site-btn btn-span">APPLIANCES</span>
            </div>
            <div class="col-md-2 product pt-md-5 pt-4">
              <img src="images/id-9-cat-3.jpg" alt="Product 3" />
              <span class="border site-btn btn-span">LAMP & LIGHTING</span>
            </div>
          </div>
          <div class="slider-btn">
            <span class="prev position-top"
              ><i class="fas fa-chevron-left fa-2x text-secondary"></i
            ></span>
            <span class="next position-top right-0"
              ><i class="fas fa-chevron-right fa-2x text-secondary"></i
            ></span>
          </div>
        </div>
      </div>

      <!-- /Second Slider -->


<!-- Second Slider -->

<div class="container-fluid">
  <div class="site-slider-two px-md-4">
    <div class="row slider-two text-center">
      <div class="col-md-2 product pt-md-5 pt-4">
        <img src="images/id-9-cat-1.jpg" alt="Product 1" />
        <span class="border site-btn btn-span">SOFA & CHAIRS</span>
      </div>
      <div class="col-md-2 product pt-md-5 pt-4">
        <img src="images/id-9-cat-2.jpg" alt="Product 2" />
        <span class="border site-btn btn-span">FURNITURES & DECOR</span>
      </div>
      <div class="col-md-2 product pt-md-5 pt-4">
        <img src="images/id-9-cat-3.jpg" alt="Product 3" />
        <span class="border site-btn btn-span">LAMP & LIGHTING</span>
      </div>
      <div class="col-md-2 product pt-md-5 pt-4">
        <img src="images/id-9-cat-4.jpg" alt="Product 4" />
        <span class="border site-btn btn-span">SOUND & LIFE</span>
      </div>
      <div class="col-md-2 product pt-md-5 pt-4">
        <img src="images/id-9-cat-5.jpg" alt="Product 5" />
        <span class="border site-btn btn-span">APPLIANCES</span>
      </div>
      <div class="col-md-2 product pt-md-5 pt-4">
        <img src="images/id-9-cat-3.jpg" alt="Product 3" />
        <span class="border site-btn btn-span">LAMP & LIGHTING</span>
      </div>
    </div>
    <div class="slider-btn">
      <span class="prev position-top"
        ><i class="fas fa-chevron-left fa-2x text-secondary"></i
      ></span>
      <span class="next position-top right-0"
        ><i class="fas fa-chevron-right fa-2x text-secondary"></i
      ></span>
    </div>
  </div>
</div>

<!-- /Second Slider -->


      <hr class="hr" />

      <!-- Features Section -->

      <div class="container text-center">
        <div class="features">
          <h1>Import Products</h1>
          <p class="text-secondary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>


      <!-- Features Section

      <div class="container text-center">
        <div class="features">
          <h1>Features Products</h1>
          <p class="text-secondary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div> -->

      <!-- Features third Slider -->
      <div class="container-fluid">
        <div class="site-slider-three px-md-4">
          <div class="slider-three row text-center px-4">
            <div class="col-md-2 product pt-md-5">
              <img src="images/15_3.jpg" class="img-fluid" alt="Image 1" />
              <div class="cart-details">
                <h6 class="pro-title p-0">Vinyl Top Folding Table</h6>
                <div class="rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="pro-price py-2">
                  <h5>
                    <small><s class="text-secondary">$125.99</s></small>
                    <span>$120</span>
                  </h5>
                </div>
                <div class="cart mt-4">
                  <button class="border site-btn btn-span">Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-2 product pt-md-5">
              <img src="images/9_21.jpg" class="img-fluid" alt="Image 2" />
              <div class="cart-details">
                <h6 class="pro-title p-0">Ikea RUSCH 25x4 Wall</h6>
                <div class="rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <div class="pro-price py-2">
                  <h5>
                    <small><s class="text-secondary">$119.99</s></small>
                    <span>$103</span>
                  </h5>
                </div>
                <div class="cart mt-4">
                  <button class="border site-btn btn-span">Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-2 product pt-md-5">
              <img src="images/10_22.jpg" class="img-fluid" alt="Image 3" />
              <div class="cart-details">
                <h6 class="pro-title p-0">Himalayan Salt Lamp Touch</h6>
                <div class="rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <div class="pro-price py-2">
                  <h5>
                    <small><s class="text-secondary">$469.99</s></small>
                    <span>$449.99</span>
                  </h5>
                </div>
                <div class="cart mt-4">
                  <button class="border site-btn btn-span">Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-2 product pt-md-5">
              <img src="images/12_16.jpg" class="img-fluid" alt="Image 4" />
              <div class="cart-details">
                <h6 class="pro-title p-0">Table Lamp Beside Desk</h6>
                <div class="rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="pro-price py-2">
                  <h5>
                    <span>$449.99</span>
                  </h5>
                </div>
                <div class="cart mt-4">
                  <button class="border site-btn btn-span">Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-2 product pt-md-5">
              <img src="images/11_18.jpg" class="img-fluid" alt="Image 4" />
              <div class="cart-details">
                <h6 class="pro-title p-0">Parsons Modern End</h6>
                <div class="rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="pro-price py-2">
                  <h5>
                    <small><s class="text-secondary">$259.99</s></small>
                    <span>$240.00</span>
                  </h5>
                </div>
                <div class="cart mt-4">
                  <button class="border site-btn btn-span">Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="col-md-2 product pt-md-5">
              <img src="images/7_22.jpg" class="img-fluid" alt="Image 5" />
              <div class="cart-details">
                <h6 class="pro-title p-0">Outdoor Patio Teak Side Table</h6>
                <div class="rating">
                  <span>write your review</span>
                </div>
                <div class="pro-price py-2">
                  <h5>
                    <small><s class="text-secondary">$139.99</s></small>
                    <span>$125.00</span>
                  </h5>
                </div>
                <div class="cart mt-4">
                  <button class="border site-btn btn-span">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-btn">
            <span class="prev position-top"
              ><i class="fas fa-chevron-left fa-2x text-secondary"></i
            ></span>
            <span class="next position-top right-0"
              ><i class="fas fa-chevron-right fa-2x text-secondary"></i
            ></span>
          </div>
        </div>
      </div>
      <!-- /Features third Slider -->
      <!-- /Features Section -->

      <!-- Sofa Section -->

      <div class="container-fluid sofa bg-light">
        <div class="row">
          <div class="col-md-6 col-12">
              <div class="row box">
                <div class="col-md-2 p-0 pl-md-3 bg-white offset-1 d-flex flex-md-column flex-sm-row">
                  <div class="py-md-2 py-2 mt-3 bg-white border text-center">
                    <h5 class="primary-color"><strong>125</strong></h5>
                    <em>days</em>
                  </div>
                  <div class="py-md-2 py-2 mt-3 bg-white border text-center">
                    <h5 class="primary-color"><strong>5</strong></h5>
                    <em>Hours</em>
                  </div>
                  <div class="py-md-2 py-2 mt-3 bg-white border text-center">
                    <h5 class="primary-color"><strong>45</strong></h5>
                    <em>Mins</em>
                  </div>
                  <div class="py-md-2 py-2 mt-3 bg-white border text-center">
                    <h5 class="primary-color"><strong>13</strong></h5>
                    <em>Secs</em>
                  </div>
                </div>
                <div class="col-md-8 p-0 bg-white">
                  <div class="text-left">
                    <img src="images/1_11.jpg" alt="Sofa" class="img-fluid">
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-6 col-12 pt-5">
              <h4 class="text-left">Upholstered Fabric Sofa</h4>
              <p class="text-secondary pr-5 pt-3">
                <small>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis alias laudantium, enim facilis obcaecati debitis illo,
                   ipsum totam consequuntur voluptas corporis ratione omnis voluptatem at repudiandae rerum praesentium assumenda ab.
                </small>
              </p>
              <div class="rating lightblue">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h4 class="pt-2">
                <small><s class="text-secondary">$519.99</s></small>
                <span class="text-color">$499.00</span>
              </h4>
              <div class="cart mt-4 row">
                <div class="col-md-4 col-sm-12 p-0">
                  <button class="border site-btn btn-span bg-primary-color text-white">Add to Cart</button>
                </div>
                <div class="col-md-5 col-sm-12 p-0 mt-3">
                    <span class="p-3 bg-white border rounded-circle"><i class="far fa-heart"></i></span>
                    <span class="p-3 bg-white border rounded-circle"><i class="fas fa-sync-alt"></i></span>
                    <span class="p-3 bg-white border rounded-circle"><i class="fas fa-search"></i></span>
                </div>
              </div>
          </div>
        </div>
      </div>

      <!-- /Sofa Section -->


      <!-- Sofa Section -->

      <div class="container-fluid sofa bg-light">
        <div class="row">
          <div class="col-md-6 col-12">
              <div class="row box">
                <div class="col-md-2 p-0 pl-md-3 bg-white offset-1 d-flex flex-md-column flex-sm-row">
                  <div class="py-md-2 py-2 mt-3 bg-white border text-center">
                    <h5 class="primary-color"><strong>125</strong></h5>
                    <em>days</em>
                  </div>
                  <div class="py-md-2 py-2 mt-3 bg-white border text-center">
                    <h5 class="primary-color"><strong>5</strong></h5>
                    <em>Hours</em>
                  </div>
                  <div class="py-md-2 py-2 mt-3 bg-white border text-center">
                    <h5 class="primary-color"><strong>45</strong></h5>
                    <em>Mins</em>
                  </div>
                  <div class="py-md-2 py-2 mt-3 bg-white border text-center">
                    <h5 class="primary-color"><strong>13</strong></h5>
                    <em>Secs</em>
                  </div>
                </div>
                <div class="col-md-8 p-0 bg-white">
                  <div class="text-left">
                    <img src="images/1_11.jpg" alt="Sofa" class="img-fluid">
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-6 col-12 pt-5">
              <h4 class="text-left">Upholstered Fabric Sofa</h4>
              <p class="text-secondary pr-5 pt-3">
                <small>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis alias laudantium, enim facilis obcaecati debitis illo,
                   ipsum totam consequuntur voluptas corporis ratione omnis voluptatem at repudiandae rerum praesentium assumenda ab.
                </small>
              </p>
              <div class="rating lightblue">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h4 class="pt-2">
                <small><s class="text-secondary">$519.99</s></small>
                <span class="text-color">$499.00</span>
              </h4>
              <div class="cart mt-4 row">
                <div class="col-md-4 col-sm-12 p-0">
                  <button class="border site-btn btn-span bg-primary-color text-white">Add to Cart</button>
                </div>
                <div class="col-md-5 col-sm-12 p-0 mt-3">
                    <span class="p-3 bg-white border rounded-circle"><i class="far fa-heart"></i></span>
                    <span class="p-3 bg-white border rounded-circle"><i class="fas fa-sync-alt"></i></span>
                    <span class="p-3 bg-white border rounded-circle"><i class="fas fa-search"></i></span>
                </div>
              </div>
          </div>
        </div>
      </div>

      <!-- /Sofa Section -->


      {{!-- <div class="container-fluid">
        <div class="site-slider-four px-md-4">
          <div class="slider-four row text-center">
              <div class="col-md-2 product pt-md-5">
                <img src="./assets/1_11.jpg" class="border img-fluid" alt="Product 1">
              </div>
              <div class="col-md-2 product pt-md-5">
                <img src="./assets/3_20.jpg" class="border img-fluid" alt="Product 2">
              </div>
              <div class="col-md-2 product pt-md-5">
                <img src="./assets/6_19.jpg" class="border img-fluid" alt="Product 3">
              </div>
              <div class="col-md-2 product pt-md-5">
                <img src="./assets/8_20.jpg" class="border img-fluid" alt="Product 4">
              </div>
              <div class="col-md-2 product pt-md-5">
                <img src="./assets/11_18.jpg" class="border img-fluid" alt="Product 5">
              </div>
              <div class="col-md-2 product pt-md-5">
                <img src="./assets/15_3.jpg" class="border img-fluid" alt="Product 6">
              </div>
          </div>
          <div class="slider-btn">
            <span class="prev position-top"
              ><i class="fas fa-chevron-left fa-2x text-secondary"></i
            ></span>
            <span class="next position-top right-0"
              ><i class="fas fa-chevron-right fa-2x text-secondary"></i
            ></span>
          </div>
        </div>
      </div>

      <div class="container my-5">
        <div class="row">
          <div class="col-md-8 col-12">
            <img src="./assets/id-9-banner-1.jpg" class="img-fluid" alt="Banner 1">
          </div>
          <div class="col-md-4 col-12">
            <img src="./assets/id-9-banner-2.jpg" class="img-fluid" alt="Banner 2">
          </div>
        </div>
        <div class="row my-md-3">
          <div class="col-md-4 col-12">
            <img src="./assets/id-9-banner-3.jpg" class="img-fluid" alt="Banner 3">
          </div>
          <div class="col-md-8 col-12">
            <img src="./assets/id-9-banner-4.jpg" class="img-fluid" alt="Banner 4">
          </div>
        </div>
      </div> --}}


      {{!-- <!-- New, Best and Features sellers -->

        <div class="container">
          <div class="newseller">
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <h3 class="text-secondary">New Arrivals</h3>
                <div class="row py-3">
                  <div class="col-md-3 p-0">
                    <div class="items border">
                      <img src="./assets/15_3.jpg" alt="Image 1" class="img-fluid">
                    </div>
                  </div>
                  <div class="col-md-9 p-0 py-4 py-md-0">
                    <div class="px-4">
                      <h6>Vinyl Top Folding Table</h6>
                      <div class="rating pb-2">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                      </div>
                      <h5>
                        <small><s class="text-secondary">$125.99</s></small>
                        <span class="text-color">$120</span>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="row py-3">
                  <div class="col-md-3 p-0">
                    <div class="items border">
                      <img src="./assets/11_18.jpg" alt="Image 2" class="img-fluid">
                    </div>
                  </div>
                  <div class="col-md-9 p-0 py-4 py-md-0">
                    <div class="px-4">
                      <h6>Parsons Mordern End Black</h6>
                      <div class="rating pb-2">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>
                      <h5>
                        <small><s class="text-secondary">$159.99</s></small>
                        <span class="text-color">$240</span>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="row py-3">
                  <div class="col-md-3 p-0">
                    <div class="items border">
                      <img src="./assets/9_21.jpg" alt="Image 3" class="img-fluid">
                    </div>
                  </div>
                  <div class="col-md-9 p-0 py-4 py-md-0">
                    <div class="px-4">
                      <h6>Ikea RUSCH 25x4 Wall</h6>
                      <div class="rating pb-2">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>
                      <h5>
                        <span class="text-color">$103</span>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <h3 class="text-secondary">Bestseller</h3>
                <div class="row py-3">
                  <div class="col-md-3 p-0">
                    <div class="items border">
                      <img src="./assets/11_18.jpg" alt="Image 1" class="img-fluid">
                    </div>
                  </div>
                  <div class="col-md-9 p-0 py-4 py-md-0">
                    <div class="px-4">
                      <h6>Parsons Modern End Black</h6>
                      <div class="rating pb-2">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>
                      <h5>
                        <small><s class="text-secondary">$159.99</s> </small>
                        <span class="text-color">$240</span>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="row py-3">
                    <div class="col-md-3 p-0">
                      <div class="items border">
                        <img src="./assets/12_16.jpg" alt="Image 2" class="img-fluid">
                      </div>
                    </div>
                    <div class="col-md-9 p-0 py-4 py-md-0">
                      <div class="px-4">
                        <h6>Table Lamp Beside Desk</h6>
                        <div class="rating pb-2">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star-half-alt"></i>
                        </div>
                        <h5>
                          <small><s class="text-secondary">$449.99</s> </small>
                          <span class="text-color">$469.99</span>
                        </h5>
                      </div>
                    </div>
                  </div>
                  <div class="row py-3">
                      <div class="col-md-3 p-0">
                        <div class="items border">
                          <img src="./assets/9_21.jpg" alt="Image 3" class="img-fluid">
                        </div>
                      </div>
                      <div class="col-md-9 p-0 py-4 py-md-0">
                        <div class="px-4">
                          <h6>Ikea RUSCH 25x4 Wall</h6>
                          <div class="rating pb-2">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                          </div>
                          <h5>
                            <span class="text-color">$103</span>
                          </h5>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <h3 class="text-secondary">Featured</h3>
                <div class="row py-3">
                    <div class="col-md-3 p-0">
                      <div class="items border">
                        <img src="./assets/8_20.jpg" alt="Image 1" class="img-fluid">
                      </div>
                    </div>
                    <div class="col-md-9 p-0 py-4 py-md-0">
                      <div class="px-4">
                        <h6>Large Wall Clock Sticker</h6>
                        <div class="rating pb-2">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star-half-alt"></i>
                        </div>
                        <h5>
                          <small><s class="text-secondary">$219.99</s> </small>
                          <span class="text-color">$210</span>
                        </h5>
                      </div>
                    </div>
                  </div>
                  <div class="row py-3">
                      <div class="col-md-3 p-0">
                        <div class="items border">
                          <img src="./assets/1_11.jpg" alt="Image 2" class="img-fluid">
                        </div>
                      </div>
                      <div class="col-md-9 p-0 py-4 py-md-0">
                        <div class="px-4">
                          <h6>Upholstered Fabric Sofa</h6>
                          <div class="rating pb-2">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                          </div>
                          <h5>
                            <small><s class="text-secondary">$519.99</s> </small>
                            <span class="text-color">$499.00</span>
                          </h5>
                        </div>
                      </div>
                    </div>
                    <div class="row py-3">
                        <div class="col-md-3 p-0">
                          <div class="items border">
                            <img src="./assets/15_3.jpg" alt="Image 3" class="img-fluid">
                          </div>
                        </div>
                        <div class="col-md-9 p-0 py-4 py-md-0">
                          <div class="px-4">
                            <h6>Vinyl Top Folding Table</h6>
                            <div class="rating pb-2">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </div>
                            <h5>
                              <small><s class="text-secondary">$125.99</s> </small>
                              <span class="text-color">$120</span>
                            </h5>
                          </div>
                        </div>
                      </div>
              </div>
            </div>
          </div>
        </div>

    <!-- /New, Best and Features sellers --> --}}


    <!-- Brand -->

    {{!-- <div class="container-fluid">
      <div class="slider-brand">
        <div class="slider-five px-5">
            <div>
              <img src="./assets/item-7.jpg" alt="Brand 1" class="img-fluid">
            </div>
            <div>
                <img src="./assets/item-8.jpg" alt="Brand 2" class="img-fluid">
            </div>
            <div>
                <img src="./assets/item-9.jpg" alt="Brand 3" class="img-fluid">
            </div> --}}
            <!-- <div>
                <img src="./assets/item-10.jpg" alt="Brand 4" class="img-fluid">
            </div>
            <div>
                <img src="./assets/item-8.jpg" alt="Brand 2" class="img-fluid">
            </div>
            <div>
                <img src="./assets/item-7.jpg" alt="Brand 1" class="img-fluid">
            </div>
            <div>
                <img src="./assets/item-9.jpg" alt="Brand 3" class="img-fluid">
            </div> -->
        {{!-- </div>
        <div class="slider-btn">
            <span class="prev position-top"
              ><i class="fas fa-chevron-left"></i
            ></span>
            <span class="next position-top right-0"
              ><i class="fas fa-chevron-right"></i
            ></span>
          </div>
      </div>
    </div>  --}}

  <!-- /Brand -->

  <!-- Our Client -->

     <div class="container-fluid p-0">
      <div class="slider-client">
        <div class="slider-box text-center">
            <h1 class="pt-5 font-roboto">What Our Client Say?</h1>
            <div class="slider-six">
              <div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                    ullam, quibusdam sunt eos reiciendis earum voluptatum
                    recusandae, delectus quas veniam dolorum dignissimos aperiam
                    perspiciatis, aut itaque soluta amet impedit quis voluptas?
                    Ipsam deleniti hic iure assumenda sit, odio inventore. Neque!
                </p>
                <h5 class="m-0">Abhimanyu Bansal</h5>
                <small class="pb-1">CEO </small>
              </div>
              <div>
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                      ullam, quibusdam sunt eos reiciendis earum voluptatum
                      recusandae, delectus quas veniam dolorum dignissimos aperiam
                      perspiciatis, aut itaque soluta amet impedit quis voluptas?
                      Ipsam deleniti hic iure assumenda sit, odio inventore. Neque!
                  </p>
                  <h5 class="m-0">Abhimanyu Bansal</h5>
                  <small class="pb-1">CEO </small>
                </div>
                <!-- <div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                        ullam, quibusdam sunt eos reiciendis earum voluptatum
                        recusandae, delectus quas veniam dolorum dignissimos aperiam
                        perspiciatis, aut itaque soluta amet impedit quis voluptas?
                        Ipsam deleniti hic iure assumenda sit, odio inventore. Neque!
                    </p>
                    <h5 class="m-0">Akshay Bansal</h5>
                    <small class="pb-1">CEO </small>
                  </div> -->
                  <!-- <div>
                      <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                          ullam, quibusdam sunt eos reiciendis earum voluptatum
                          recusandae, delectus quas veniam dolorum dignissimos aperiam
                          perspiciatis, aut itaque soluta amet impedit quis voluptas?
                          Ipsam deleniti hic iure assumenda sit, odio inventore. Neque!
                      </p>
                      <h5 class="m-0">Akshay Bansal</h5>
                      <small class="pb-1">CEO </small>
                    </div> -->
            </div>
        </div>
      </div>
    </div>

  {{!-- <! --Our Client --> --}}

    <!-- Facilities -->

      <div class="container-fluid p-0">
        <div class="site-info">
          <div class="row text-center py-3 bg-primary-color m-0">
            <div class="col-md-4 col-sm-12 my-md-0 my-4">
              <div class="row justify-content-center text-light">
                <i class="fas fa-rocket fa-4x px-4"></i>
                <div class="py-2 font-roboto text-left">
                  <h6 class="m-0">Free Shipping on 1 order</h6>
                  <small>Shipping Chrages-$100</small>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 my-md-0 my-4">
                <div class="row justify-content-center text-light">
                    <i class="fas fa-hand-holding-usd fa-4x px-4"></i>
                    <div class="py-2 font-roboto text-left">
                      <h6 class="m-0">Money Guarantee</h6>
                      <small>Your details are secured with us</small>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 col-sm-12 my-md-0 my-4">
                <div class="row justify-content-center text-light">
                    <i class="fas fa-headphones-alt fa-4x px-4"></i>
                    <div class="py-2 font-roboto text-left">
                      <h6 class="m-0">Online Support</h6>
                      <small>We support online 24 hours a day</small>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>

    <!-- /Facilities -->
    </main>

    <!-- /Main Section   -->
    {{!-- <footer>
        <div class="container-fluid px-5">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <h4>Contact Us</h4>
              <div class="row pl-md-1 text-secondary">
                <div class="col-12">
                  <i class="fa fa-home px-md-2"></i>
                  <small>Street 20, Gorakhpur, United States</small>
                </div>
              </div>
              <div class="row pl-md-1 text-secondary py-4">
                  <div class="col-12">
                      <i class="fa fa-paper-plane px-md-2"></i>
                      <small>www.sirisiriport.com</small>
                    </div>
              </div>
               <div class="row pl-md-1 text-secondary">
                  <div class="col-12">
                      <i class="fa fa-phone-volume px-md-2"></i>
                      <small>(888) 123456789</small>
                    </div>
               </div>

              <div class="row social text-secondary">
                <div class="col-12 py-3">
                  <i class="fab fa-twitter"></i>
                  <i class="fab fa-facebook-f"></i>
                  <i class="fab fa-google-plus-g"></i>
                  <i class="fab fa-skype"></i>
                  <i class="fab fa-pinterest-p"></i>
                  <i class="fab fa-youtube"></i>
                  <i class="fab fa-linkedin-in"></i>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-12">
              <h4>Our Services</h4>
              <div class="d-flex flex-column pl-md-3">
                <small class="pt-0">New York</small>
                <small>London SF</small>
                <small>Cockfosters BP</small>
                <small>Los Angeles</small>
                <small>Chicago</small>
              </div>
            </div>
            <div class="col-md-2 col-sm-12">
              <h4>Extras</h4>
              <div class="d-flex flex-column pl-md-3">
                  <small class="pt-0">About Store</small>
                  <small>New Collection</small>
                  <small>Contact Us</small>
                  <small>Latest News</small>
                  <small>Our Sitemap</small>
                </div>
            </div>
            <div class="col-md-4 follow-us col-sm-12">
              <h4>Follow Instagram</h4>
              <div class="d-flex flex-row">
                <img src="./assets/256_n.jpg" alt="Instagram 1" class="img-fluid">
                <img src="./assets/792_n.jpg" alt="Instagram 2" class="img-fluid">
                <img src="./assets/392_n.jpg" alt="Instagram 3" class="img-fluid">
              </div>
              <div class="d-flex flex-row">
                  <img src="./assets/664_n.jpg" alt="Instagram 1" class="img-fluid">
                  <img src="./assets/088_n.jpg" alt="Instagram 2" class="img-fluid">
                  <img src="./assets/896_n.jpg" alt="Instagram 3" class="img-fluid">
                </div>
            </div>
          </div>
        </div>

        <div class="container-fluid news pt-5">
          <div class="row">
            <div class="col-md-6 col-12 pl-5">
              <h4 class="primary-color font-roboto m-0 p-0">
                Need Help? 
              </h4>
              <p class="m-0 p-0 text-secondary">
                Support Team 24/7 At (844) 5555-8324
              </p>
            </div>
            <div class="col-md-4 col-12 my-md-0 my-3 pl-md-0 pl-5">
              <input type="text" class="form-control border-0 bg-light" placeholder="Enter Your email Address">
            </div>
            <div class="col-md-2 col-12 my-md-0 my-3 pl-md-0 pl-5">
              <button class="btn bg-primary-color text-white">Subscribe</button>
            </div>
          </div>
        </div>

        <div class="container text-center">
          <p class="pt-5">
            <img src="./assets/payment.png" alt="payment image" class="img-fluid">
          </p>
          <small class="text-secondary py-4"> All Rights Reserved. </small>
        </div>

    </footer> --}}
 {{>foot1}}



    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="./js/main.js"></script>
  </body>
</html>
