<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OurVision - SriSriPort</title>
    <link rel="shortcut icon" href="images/flogo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/newnav.css">
    <link rel="stylesheet" type="text/css" href="css/vis.css">
    <link rel="stylesheet" media="screen and (max-width: 900px)" href="css/phone.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <script src="https://kit.fontawesome.com/b7063610fd.js" crossorigin="anonymous"></script>
</head>

<body>
    {{>navbar}}
    <section id="homecontact">
    </section>
    <div class="msg">
        <div class="quotesb">
            <img style="width : 15px; height: 15px;" src="../images/comma.png" alt="IMG">
            <p>SRISRIPORT is a Social Enterprise steadfast in its mission to bridge the extant learning gaps
                affordably in India by leveraging technology, and implementing nudged learning through its programs.</p>
        </div>
    </div>
    <div class="msg2">
        <div class="para">
            SRISRIPORT seeks to create the largest network of exporters and importers across the globe. We strive to tap
            business opportunities for all business owners, entrepreneurs, and manufacturers and provide them with
            one-stop services for their EXIM business.
        </div>
    </div>
    {{>foot1}}
</body>